@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

.center{
    max-width: 1400px;
    margin: 0 auto;
}


/* Header */

.flex-chamada{
    display: flex;

}

.orange{
    width: 60%;
    background-color: #FE8C0F;
    text-align: right;
    padding: 10px 2%;
    text-transform: uppercase;
    color: white;
    font-size: 26px;
}

.gray{
    width: 40%;
    background-color: #EAEFF1;
    padding: 10px 2%;
    text-transform: uppercase;
    color: #0B87BA;
    font-size: 26px;
}

.flex-logo-menu{
    background-color: rgb(253, 252, 252);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
    
}

.logo{
    color: #FE8C0F;
    font-size: 44px;

}

.logo::after{
    content: 'PetShop';
    color: #0B87BA;
}

.menu ul li{
    display: inline-block;
    padding: 0 15px;
}

.menu ul li a{
    text-decoration: none;
}
/**********/



/* Media queries */
@media screen and (max-width:1100px){
    .orange{
        width: 62%;
        font-size: 24px;
    }
    
    .gray{
        width: 38%;
        font-size: 24px;
    }
}

@media screen and (max-width:860px){
    .flex-chamada{
        flex-direction: column;
    
    }

    .orange{
        width: 100%;
        text-align: center;
    }
    
    .gray{
        width: 100%;
        text-align: center;   
    }

}

@media screen and (max-width:768px){
    
}


@media screen and (max-width:580px){
    .orange{
        font-size: 20px;
    }
    
    .gray{
        font-size: 20px;
    }
}

/**********/