@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

.center{
    max-width: 1400px;
    margin: 0 auto;
}

.clear{
    clear: both;
}


/* Header */

.flex-chamada{
    display: flex;
}

.orange{
    width: 60%;
    background-color: #FE8C0F;
    text-align: right;
    padding: 10px 2%;
    text-transform: uppercase;
    color: white;
    font-size: 26px;
}

.gray{
    width: 40%;
    background-color: #EAEFF1;
    padding: 10px 2%;
    text-transform: uppercase;
    color: #0B87BA;
    font-size: 26px;
}

.flex-logo-menu{
    background-color: rgb(253, 252, 252);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 1%;
    border-bottom: 2px solid #ccc;
}

.logo{
    color: #FE8C0F;
    font-size: 38px;
    
}

.logo::after{
    content: 'PetShop';
    color: #0B87BA;
}

.menu-desktop ul li{
    display: inline-block;
    padding: 0 12px;
    
}

.menu-desktop ul li a{
    text-decoration: none;
    color: #0B87BA;
    font-size: 25px;
    transition: 0.3s;
}

.menu-desktop ul li a:hover{
    color: #14698d;
    text-decoration: underline;
}



.menu-mobile{
    display: none;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url(../images/icon_menu.png);
    background-repeat: no-repeat;
    background-size: contain;

    
}

.menu-mobile ul {
    z-index: 999;
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgb(253, 252, 252);
    top: 125px;
    padding: 0;
    text-align: center;
    left: 0;
    border-bottom: 2px solid #ccc;
}

.menu-mobile ul li {
    list-style-type: none;
    padding: 10px 0;
}

.menu-mobile ul li a {
    text-decoration: none;
    color: #0B87BA;
    font-size: 25px;
}

.menu-mobile ul li a:hover{
    color: #14698d;
    text-decoration: underline;
}
/**********/


/* carrossel */
.carrossel{
    width: 100%;
    overflow-x: hidden;
}

#img{
    display: flex;
    transition: 1s ease-in-out;
    transform: translateX(0);

}

#img img{
    width: 100%;
    height: 35vw;
}
/**********/


/* contato */

.contato{
    margin-top: 20px;
}

.contato .center{
    padding: 0 2%;
}

.contato .center span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #167fac;
    font-style: italic;
}

.contato .center ul{
    display: inline-block;
    position: absolute;
    margin-left: -15px;
}

.contato .center ul li{
    margin-top: 5px;
    margin-right: 15px;
    list-style-type: none;
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
}

.contato .center ul li a img:first-child{
    transition: 1s;
    float: left;
}

.contato .center ul li:hover img:first-child{
    margin-top: -50px;
    transform: rotate(180deg);
}

/**********/


/* Media queries */
@media screen and (max-width:1200px){
    .flex-logo-menu{
        background-color: rgb(253, 252, 252);
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px 5%;
    }
    .logo{
        width: 100%;
        text-align: unset;
    }

    .menu-desktop{
        display: none;
    }


    .menu-mobile{
        display: inline-block;
    }
}


@media screen and (max-width:1100px){
    .orange{
        width: 62%;
        font-size: 24px;
    }
    
    .gray{
        width: 38%;
        font-size: 24px;
    }

}

@media screen and (max-width:860px){
    .flex-chamada{
        flex-direction: column;
    
    }

    .orange{
        width: 100%;
        text-align: center;
    }
    
    .gray{
        width: 100%;
        text-align: center;   
    }

    .menu-mobile ul{
        top: 175px;
    }

}

@media screen and (max-width:768px){
    #img img{
        
        height: 45vw;
    }
}


@media screen and (max-width:580px){
    .orange{
        font-size: 20px;
    }
    
    .gray{
        font-size: 20px;
    }

    .menu-mobile ul{
        top: 165px;
    }
}

@media screen and (max-width:500px){
    .contato .center{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contato .center span{
        display: inline-block;
        font-size: 29px;
    }
     .contato .center ul{
       margin-top: 30px;
        
    }

     
}

@media screen and (max-width:430px){
    .menu-mobile ul{
        top: 190px;
    }

    #img img{
        
        height: 60vw;
    }
}

/**********/